* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}
.container {
  margin: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
}
img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: #3a1c71;
}

.text {
  color: white;
  text-align: center;
}
